<div id="facts" class="bg-dark">
  <div class="container">
    <section class="section">
      <div class="row text-center">
        <section class="column one-third fact">
          <h2>
            <img
              src="/img/desktop-device-icon.svg"
              alt="{{ active-devices-alt[alt text] Devices supported by ABP }}">
            {{ active-devices-heading[heading] Active devices }}
          </h2>
          <p>
            <strong class="number-of-devices">
              {{ active-devices-paragraph-1 over <em>100</em> million }}
            </strong>
          </p>
        </section>
        <section class="column one-third fact">
          <h2>
            <img
              src="/img/message-icon.svg"
              alt="{{ available-languages-alt[alt text] Languages available in ABP }}">
            {{ available-languages-heading[heading] Available languages }}
          </h2>
          <p>
            {{ available-languages-paragraph-1 <strong>24</strong> }}
          </p>
        </section>
        <section class="column one-third fact">
          <h2>
            <img
              src="/img/platform-icon.svg"
              alt="{{ supported-platforms-alt[alt text] ABP browser availability }}">
            {{ supported-platforms-heading[heading] Supported platforms }}
          </h2>
          <p>
            {{ supported-platforms-paragraph-1 <strong>8</strong> }}
          </p>
        </section>
      </div>
    </section>
  </div>
</div>
