{% from "macros/pageitem" import pageitem %}

{% if not nonavbar %}

<nav id="navbar">
  <div class="container">
    {{ "index" | linkify(id="navbar-logo") }}
      <img
        src="/img/navbar-logo.svg">
      <span>Adblock <strong>Plus</strong></span>
    </a>
    <a href="#" id="navbar-menu-toggle">
      <img
        src="/img/menu-toggle.svg">
    </a>
    <ul id="navbar-menu">
      {% for pagename in ["download", "about"] %}
        <li>
          {{ pagename | linkify }}{{ get_string(pagename, "menu") }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://help.eyeo.com" target="_blank">{{ get_string("help", "menu") }}</a>
      </li>
      <li id="navbar-locale-menubar">
        <a id="navbar-locale-selected">
          {{ config.get("langnames", locale) }} ({{ locale | to_og_locale | to_og_location }})
        </a>
        <ul id="navbar-locale-menu">
          {% for available_locale in available_locales %}
            <li>
              {{ page | linkify(available_locale) }}
                {{ config.get("langnames", available_locale) }} ({{ available_locale | to_og_locale | to_og_location }})
              </a>
            </li>
          {% endfor %}
        </ul>{# #navbar-locale-menu #}
      </li>
    </ul>{# #navbar-menu #}
  </div>{# .container #}
</nav>{# #navbar #}

{% endif %}
